<h1>Create Departamento</h1>

<form method="post">
    <label>DEPT NO: </label>
    <input type="text" name="DeptNo"
           
           class="form form-control" />
    <label>DNOMBRE: </label>
    <input type="text" name="Dnombre"
           
           class="form form-control" />
    <label>LOC: </label>
    <input type="text" name="Loc"
           
           class="form form-control" />
    <button class="btn btn-success">Crear</button>
</form>