@{
    List<Departamento> departamentos = ViewData["DEPARTAMENTOS"] as List<Departamento>;
}

<h1>Create Empleado</h1>

<a asp-controller="Empleados"
   asp-action="Index"
   class="btn btn-dark">
    Back to list
</a>

<form method="post">
    <label>EMP NO: </label>
    <input type="text" name="EMP_NO"
           class="from form-control" />
    <label>APELLIDO: </label>
    <input type="text" name="APELLIDO"
           class="from form-control" />
    <label>OFICIO: </label>
    <input type="text" name="OFICIO"
           class="from form-control" />
    <label>DIR: </label>
    <input type="text" name="DIR"
           class="from form-control" />
    <label>FECHA_ALT: </label>
    <input type="text" name="FECHA_ALT"
           class="from form-control" />
    <label>SALARIO: </label>
    <input type="text" name="SALARIO"
           class="from form-control" />
    <label>COMISION: </label>
    <input type="text" name="COMISION"
           class="from form-control" />
    <label>DEPT NO: </label>
    @* <input type="text" name="DEPT_NO"
           class="from form-control" /> *@
    <select name="DEPT_NO" class="form form-control">
         @foreach(Departamento departamento in departamentos){
             <option value="@departamento.DeptNo" >@departamento.Dnombre</option>
         }
    </select>
    <button class="btn btn-primary">Crear</button>
</form>